$green1: #0eb58e;
$green2: #00cba9;
$green3: #808080;

$orange1: #ffb524;

$yellow1: rgb(255, 230, 2);

$black1: #333;
$black2: #45595b;

$gray1: #b9bcd0;

$white1: #fff;
$white2: #ddd;
$white3: #f5f6f9;
